@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');


*{
    margin:0;
    padding: 0; 
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    width:100vw;
}

.react-codemirror2{
    height:90%;
}

.CodeMirror{
    height:100% !important;
}

.display-panel{
    width:50%; 
    height:45%;
    margin-top:5px;
    background-color: #282a36
}

#root{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:black;
}

.editor-container{
    display:flex;
    margin-top: 10px;
    height:50%;
    width:90vw;
}

.editor{
    flex:1;
    margin-right:5px;
    height:100%;
}



.editor-header{
    width:100%; 
    font-family: 'Noto Sans Display', sans-serif;
    height: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    text-align: center;
}





